body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: hwb(236 2% 78%); /* Background color */
}

.header {
    background-color:hsl(200, 93%, 66%);
    padding: 10px;
    position: fixed;
    top: 0;
    width: 170%;
    text-align: center;
}

.title {
    color: hwb(236 2% 78%);
    font-size: 80px;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px; /* Adjust the margin as needed */
}

.settings {
    margin-top: 20px;
    color: white;
    font-size: 23px;

}

.game-container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 150px); /* Increase grid cell size */
    grid-gap: 10px; /* Increase grid gap */
    margin-top: 20px;
}

.cell {
    width: 150px;
    height: 150px;
    font-size: 48px; /* Increase font size */
    color: red;
    cursor: pointer;
    border: 1px solid hsl(71, 91%, 9%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dcef7e; /* Cell background color */
    position: relative;
}

.cell:hover {
    background-color: #eee; /* Hover color */
}

.winning-cell::after {
    content: '\2713'; /* Checkmark symbol */
    font-size: 70px; /* Adjust the size as needed */
    color: hwb(191 35% 5%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.result {
    margin-top: 20px;
    font-size: 24px;
    color: white;
}

.reset-button {
    margin-top: 20px;
    background-color: hsl(140, 89%, 51%);
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.point-table {
    color: white;
    text-align: right;
    margin-top: 20px;
}

h2 {
    margin-top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 5px solid hwb(322 68% 3%);
    padding: 8px;
    text-align: center;
}

#playerXRow {
    background-color: hwb(308 13% 48%); /* Player X row background color */
}

#playerORow {
    background-color: hwb(308 13% 48%); /* Player O row background color */
}

.footer {
    background-color:hsl(200, 93%, 66%);
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-text {
    color: white;
    margin: 0;
}
